@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../assets/fonts/ProximaNova-ExtrabldIt.woff2') format('truetype'),
         url('../assets/fonts/ProximaNova-ExtrabldIt.woff') format('truetype'),
         /* Add more src lines if you have additional font file formats */
         /* For example:
         url('../fonts/proxima-nova-regular.ttf') format('truetype'),
         url('../fonts/proxima-nova-regular.otf') format('opentype'), */
         /* Make sure to update the paths and file extensions as per your font files */;
    font-weight: normal;
    font-style: normal;
  }