
.icon-heart:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-dollar:before { content: '\e80a'; } /* '' */
.icon-bus:before { content: '\e80b'; } /* '' */
.icon-edit:before { content: '\e80c'; } /* '' */
.icon-shop:before { content: '\e80d'; } /* '' */
.icon-headphones:before { content: '\e80e'; } /* '' */
.icon-user-solid:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-umbrella:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-logout:before { content: '\e813'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user:before { content: '\f2c0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; }
.icon-cart-arrow-down:before { content: '\f218'; } /* 'ïˆ˜' */
