@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../public/font/stylesheet.css");
@import url("fontello.css");

 @font-face {
    font-family: "PR-light";
    src: url("../assets/pr/Proxima-Nova-300.eot");
    src: url("../assets/pr/Proxima-Nova-300.eot") format("eot"),
      url("../assets/pr/Proxima-Nova-300.woff2") format("woff2"),
      url("../assets/pr/Proxima-Nova-300.woff") format("woff"),
      url("../assets/pr/Proxima-Nova-300.ttf") format("truetype");
    font-weight: 300 !important;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PR";
    src: url("../assets/pr/Proxima-Nova-Regular.eot");
    src: url("../assets/pr/Proxima-Nova-Regular.eot") format("eot"),
      url("../assets/pr/Proxima-Nova-Regular.woff2") format("woff2"),
      url("../assets/pr/Proxima-Nova-Regular.woff") format("woff"),
      url("../assets/pr/Proxima-Nova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: "PR-semibold";
  src: url("../assets/pr/Proxima-Nova-Semibold.eot");
  src: url("../assets/pr/Proxima-Nova-Semibold.eot") format("eot"),
    url("../assets/pr/Proxima-Nova-Semibold.woff2") format("woff2"),
    url("../assets/pr/Proxima-Nova-Semibold.woff") format("woff"),
    url("../assets/pr/Proxima-Nova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PR-bold";
  src: url("../assets/pr/Proxima-Nova-Bold.eot");
  src: url("../assets/pr/Proxima-Nova-Bold.eot") format("eot"),
    url("../assets/pr/Proxima-Nova-Bold.woff2") format("woff2"),
    url("../assets/pr/Proxima-Nova-Bold.woff") format("woff"),
    url("../assets/pr/Proxima-Nova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-size: 14px;

}


.body {
  font-family: 'PR'; 
  background: #fff !important;
  color: #000 !important;
   /* font-size: 14px; line-height: 19.6px; */
}

.pr-bold {
  font-family: 'PR-bold';  
  /* font-size: 14px; line-height: 19.6px; */
}

.pr-semibold {
  font-family: 'PR-semibold';
    /* font-size: 14px; line-height: 19.6px; */
}

.pr-light{
  font-family: 'PR-light';  
  /* font-size: 14px; line-height: 19.6px; */
}
.pr-normal{
  font-family: 'PR';  
  /* font-size: 14px; line-height: 19.6px; */
}
.font-light{
  font-family: 'PR-light' !important;   

}
.googlePlay {
  background-image: url(https://www.ishtari.com/img/sprite.25850177.png);
  background-position-x: 0px;
  background-position-y: -86px;
  background-size: 186px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  width: 130px;
  padding: 0 20px;
  height: 37px;
}

.appleStore {
  display: inline-block;
  width: 120px;
  height: 40px;
  background-image: url(https://www.ishtari.com/img/sprite.25850177.png);
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: 170px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

mySwiper .swiper-button-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(25%);
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 3px -1px !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: rgb(255, 255, 255) !important;
  z-index: 1;
  /* margin-right: -20px; */
}

.mySwiper .swiper-button-prev {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(25%);
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 3px -1px !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: rgb(255, 255, 255) !important;
  z-index: 1;
  margin-left: -16px !important;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 14px !important;
  color: rgb(0, 0, 0) !important;
  text-align: center !important;
}

/* .sliderSwiper .swiper-pagination-bullet {
  width: 22px;
  height: 3px;
  box-shadow: rgb(204 204 204) 0px 0px 1px;
  margin: 0px 4px;
  border-radius: 50px;
  background: rgb(226, 229, 241);
  opacity: 1;
  bottom: 0px;
} */

/* .sliderSwiper .swiper-pagination-bullet-active {
  background-color: rgba(191, 27, 38, 1);
} */

.sliderSwiper .swiper-button-prev {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-basis: max-content;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: auto !important;
  margin: 0px !important;
  padding: 0px !important;
  background-image: none !important;
  top: 0px !important;
  right: -3px !important;
  left: auto !important;
}

.sliderSwiper .swiper-button-next {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-basis: max-content;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: auto !important;
  margin: 0px !important;
  padding: 0px !important;
  background-image: none !important;
  top: 0px !important;
  left: -3px !important;
  right: auto !important;
}

.sliderSwiper .swiper-button-prev::after {
  display: none;
}

.sliderSwiper .swiper-button-next::after {
  display: none;
}

.sliderSwiper .swiper-button-prev,
.sliderSwiper .swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .sliderSwiper .swiper-button-prev .izCJif,
  .sliderSwiper .swiper-button-next .heEmBF {
    display: inline-block !important;
  }
}

.sliderSwiper  .swiper-button-next .heEmBF {
  height: 100%;
  width: auto;
  transform-origin: left center;
  transform: scaleX(1);
  /* background-color: red; */
  transition: transform 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s!important;
  display: none;
}

.sliderSwiper .swiper-button-prev .izCJif {
  height: 100%;
  width: auto;
  transform-origin: right center;
  transform: scaleX(1);
  transition: transform 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s!important;
  display: none;
}

@media only screen and (min-width: 1200px) {
  .sliderSwiper .activeTransform {
    transform: scaleX(2) !important;
  }

  .sliderSwiper .activeTransformSmaller {
    transform: scaleX(2.5) !important;
  }
}

@media only screen and (min-width: 992px) {
  .sliderSwiper .activeTransform {
    transform: scaleX(2.5);
  }

  .sliderSwiper .activeTransformSmaller {
    transform: scaleX(3.5);
  }
}

.sliderSwiper .activeTransform {
  transform: scaleX(2.5);
}

.sliderSwiper .activeTransformSmaller {
  transform: scaleX(3.5);
}

.sliderSwiper .swiper-button-prev .izCJif .wave {
  transition: all 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s !important;
}
.sliderSwiper .swiper-button-next .heEmBF .wave {
  transition: all 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s !important;
}

.sliderSwiper .activeFill {
  fill: rgb(255, 255, 255);
  transition: all 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s !important;
}

@media only screen and (min-width: 768px) {
  .sliderSwiper .swiper-button-circle-back-right,
  .sliderSwiper .swiper-button-circle-back-left {
    width: 60px !important;
    height: 60px !important;
  }
}

.sliderSwiper .swiper-button-circle-back-right,
.sliderSwiper .swiper-button-circle-back-left {
  width: 35px;
  height: 35px;
}

@media only screen and (min-width: 768px) {
  .sliderSwiper .swiper-button-circle-right {
    width: 50px !important;
    height: 50px !important;
    padding: 10px !important;
    right: 100% !important;
    transform: translate(100%, -50%) !important;
  }

  .sliderSwiper .active-circle-right {
    width: 50px !important;
    height: 50px !important;
    padding: 10px !important;
    background: transparent !important;
    right: 0px !important;
    transform: translate(-20%, -50%) !important;
  }
}


@media (max-width: 650px){
  .headersticky.hide{
    top: -90px;
  }
  
  }

.headersticky{
  position: sticky;
  z-index: 30;
  top: 0; 
  transition: all 0.5s ease;
}
.bottombar{
  position: sticky;
  z-index: 25;
  bottom: 0; 
  transition: all 0.5s ease;
}
.bottombar.hide{
  bottom: -60px;
}
@media (min-width: 650px){
.headersticky.hide{
top: -63px;
}
}


.sliderSwiper .swiper-button-circle-right {
  background: rgba(255, 255, 255, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
}

.sliderSwiper .gHFIbo {
  height: 100%;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .sliderSwiper .swiper-button-circle-left {
    width: 50px !important;
    height: 50px !important;
    padding: 10px !important;
    left: 100% !important;
    transform: translate(-100%, -50%) !important;
  }

  .sliderSwiper .active-circle-left {
    width: 50px !important;
    height: 50px !important;
    padding: 10px !important;
    background: transparent !important;
    left: 0px !important;
    transform: translate(20%, -50%) !important;
  }
}

.sliderSwiper .swiper-button-circle-left {
  background: rgba(255, 255, 255, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0s;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
}


.underline_effect {
  position: relative;
  color: rgb(56, 102, 223);
  text-decoration: none;
}
.underline_effect:hover {
  color: #000;
}
.underline_effect::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(56, 102, 223);
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.underline_effect:hover::before {
  transform: scaleX(0);
}

#desc h2, #desc h3, #desc h4, #desc strong {
  font-size: 18px!important;
  display: block!important;
  margin-top: 15px!important;
  margin-bottom: 5px;
}

#desc, #desc ol, #desc ul {
  padding: 0 10px;
}

#desc li {
  list-style: disc!important;
  margin-left: 20px;
  font-weight: 300!important;
  @apply pr-light;
}
.add_images_upload {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.mySwiper .swiper-button-next {
  position: absolute !important;
  top: 46% !important;
  transform: translateY(25%);
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 3px -1px !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: rgb(255, 255, 255) !important;
  z-index: 1;
  /* margin-right: -20px; */
  right: 0;
}

.tooltip-indicator::before {
  content: '';
  position: absolute;
  top: -7px; /* Adjust as needed */
  left: 13%;
  transform: translateX(-50%);
  border-width: 0 7px 7px 7px; /* Adjust the size of the triangle */
  border-style: solid;
  opacity: 0.6;
  border-color: transparent transparent #404553 transparent; /* Adjust the color */
}


.remindbirtheday{
  transition: all 0.3s ease;
  position: fixed;
  right: -400px;
  opacity: 0;
  z-index: -999;

}
.remindbirtheday.show{
  right: 0px;
  opacity: 1;
  z-index: 999;
}

.mySwiper .swiper-button-prev {
  position: absolute !important;
  top: 46% !important;
  transform: translateY(25%);
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 3px -1px !important;
  border: 1px solid rgb(204, 204, 204) !important;
  background: rgb(255, 255, 255) !important;
  z-index: 1;
  /* left: 0; */
  /* margin-left: -20px !important; */
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  content: none;
  font-size: 14px !important;
  color: rgb(0, 0, 0) !important;
  text-align: center !important;
}

/* to disable center mode */
.slick-track{
  margin-left: unset !important;
  margin-right: unset !important;
}

.slick-slide{
  min-width: "180px";
}


.pagination {
  @apply flex justify-center w-full my-4;
}

.pagination li {
  @apply mr-0 md:mr-2;
}

.pagination li a {
  @apply block w-12 h-9 text-center leading-9 text-dlabelColor cursor-pointer border border-transparent;
}

.pagination li a:hover,
.active-pagination a {
  @apply bg-white border border-dblack !important;
}

.category-pagination {
  @apply flex justify-center w-full my-4;
}

.category-pagination li {
  margin: 0px 5px;
}

.category-pagination li a {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 200;
  color: rgb(126, 133, 155);
  text-align: center;
  font-size: 18.66px;
  text-decoration: none;
}

.category-pagination li a:hover,
.active-pagination-category a {
  border-radius: 3px;
  color: rgb(56 102 223) !important;
  background-color: white;
  box-shadow: rgb(56 102 223) 0px 0px 1px 1px;
}


.myFilterSwiper .swiper-button-disabled {
  display: none;
}

.myFilterSwiper .swiper-slide {
  width: auto;
}

.myFilterSwiper .swiper-button-next {
  z-index: 1;
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
}

.myFilterSwiper .swiper-button-next::after {
  color: rgb(126, 133, 155);
  font-size: 18px;
}

.myFilterSwiper .swiper-button-prev {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  padding: 12px;
  left: 0px;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
}

.myFilterSwiper .swiper-button-prev::after {
  color: rgb(126, 133, 155);
  font-size: 18px;
}


.catalog-top-filter {
  position: absolute;
  top: calc(100% - 0px);
  z-index: 11;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
  border-radius: 8px;
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  max-height: 0px;
  overflow: hidden;
}

.catalog-top-filter-open {
  max-height: 600px;
  overflow: auto;
}

.catalog-top-filter-open::-webkit-scrollbar {
  width: 3px;
}

.catalog-top-filter-container {
  max-width: 650px;
  min-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.mobile-catalog-filter {
  position: fixed;
  inset: 0px;
  z-index: 80;
  touch-action: none;
  pointer-events: none;
}

.mobile-catalog-filter-open {
  touch-action: auto !important;
  pointer-events: auto !important;
}

.mobile-catalog-blur {
  position: absolute;
  inset: 0px;
  opacity: 0;
  transition: all 0.1s ease 0s;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

.mobile-catalog-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 0px;
  right: 0px;
  height: 80%;
  bottom: -120%;
  border-radius: 16px 16px 0px 0px;
  transition: bottom 0.4s ease-in-out 0s;
  z-index: 10;
}

.mobile-catalog-container-before::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(218, 220, 227);
}

.catalog-top-filter-selected {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(56, 102, 223);
  color: rgb(56, 102, 223);
}

.catalog-top-filter-not-selected {
  background-color: rgb(240, 242, 247);
  border: 1px solid rgb(240, 242, 247);
}

.button-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.button-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.catalog-filter-nav {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
}

.catalog-mobile-scroll {
  overscroll-behavior: contain;
}

.catalog-mobile-scroll::-webkit-scrollbar {
  width: 3px;
}

/* .myFilterSwiper .swiper-button-disabled {
  display: none;
}

.myFilterSwiper .swiper-slide {
  width: auto;
}

.myFilterSwiper .swiper-button-next {
  z-index: 1;
  position: absolute;
  right: 0px;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
}

.myFilterSwiper .swiper-button-next::after {
  color: rgb(126, 133, 155);
  font-size: 18px;
}

.myFilterSwiper .swiper-button-prev {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  padding: 12px;
  left: 0px;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 5px;
}

.myFilterSwiper .swiper-button-prev::after {
  color: rgb(126, 133, 155);
  font-size: 18px;
} */

.selector_div .slick-arrow .arrow {
  width: 100%;
  height: 10px;
} 

.selector_div .slick-next:before{
  content: '';
}
.selector_div .slick-prev:before{
  content: '';
}

.selector_div .slick-arrow .slick-prev {
  width: 100%;
  height: 20px;
  top: 0;
  z-index: 1;
  -webkit-box-pack: center;
  position: absolute !important;
  cursor: pointer;
  left: unset !important;
}
.selector_div .slick-prev{
  left: unset !important;
  transform: translate(0, -28%) !important;
}
.selector_div .slick-next{
  transform: rotate(180deg) !important;
  top: unset !important;
}
.selector_div .slick-arrow .slick-next{
  width: 100%;
  height: 20px;
  bottom: 0;
  z-index: 1;
  -webkit-box-pack: center;
  position: absolute !important;
  cursor: pointer;
  translate: unset !important;

} 
.selector_div .slick-arrow.slick-button-disabled {
  display: none;
}
.selector_div .slick-slider{
  position: relative;
}
.selector_div .slick-arrow.slick-hidden {
  display: none;
}

@media (min-width: 1028px){
  .selector_div .slick-list{
    height: 439px !important;
  }
}


@media (max-width: 650px){
.selector_div  .slick-list{
  height: unset !important;   
}

}
  .selector_div {
    min-height: 550px;
    min-width: 50px; 
 }

 @media (max-width: 768px){
  .selector_div {
    min-height: unset !important;
    min-width: unset !important;        
 }
 }



.selector_div .slick-slider .slick-track{
  height: unset !important;
}
.selector_div .slick-disabled {
  display: none !important;
}

.selectors img[src]:hover {
  transform: scale(0.9);
}

.selectors img[src],
.selectors img[srcset] {
  border: 1px solid #7e859b1f;
  padding: 0 !important;
  border-radius: 5px;
  transition: all 150ms ease-in;
}

@media (max-width: 600px) {
  .selectors a {
      margin-right: 10px;
      width: 75px;
      max-width: 75px
  }
  .selectors {
      max-width: 100%;
      overflow: scroll;
      padding: 0 10px;
  }
}

@media (max-width: 768px){
  .selectors .slick-slide{
    width: 87px !important
  }
}
@media (max-width: 300px){
  .selectors .slick-slide{
    width: 77px !important
  }
}

.img-zoom-result {
  /* border: 1px solid #d4d4d4; */
  /*set the size of the result div:*/
  width: 398px;
  height: 542.77px;
}

.img-zoom-result {
  animation-name: showup;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@layer utilities {

  .test {
    padding-right: 0.93rem; /* 14px */
  
  }


  .scrollbar::-webkit-scrollbar {
    width:5px;


  }


  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
 
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #b6b6b6;
  
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6; 
    opacity: 1;
    display:block
  }


}
@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid transparent;
  /*set the size of the lens:*/
  width: 140px;
  height: 140px;
}

.product-big-img .slick-slide>div>div {
  display: flex !important;
  justify-content: center !important;
} 

@media (max-width: 840px){
  #popup_modal::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    overflow-y: hidden;
    margin-left: -30px;
    margin-top: -15px;

    background-size: cover;
    filter: blur(30px);
    z-index: -1;
    
    }
}
@media (max-width: 840px){

  .thumbss-center-slider .slick-track {
    place-items: center;
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 100% !important;
  }
}


/* Styles specific to Safari */
@supports (-webkit-touch-callout: none) {
  .browser-height {
    width: 86%;
  }
}

/* Styles specific to other browsers */
@supports not (-webkit-touch-callout: none) {
  .browser-height {
    width: 100%;
  }
}
.shareList {
  animation-name: showup;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input {
  @apply relative bg-opacity-30 h-14 w-full font-light text-sm border-b border-dgrey;
}

.input input,
select {
  @apply bg-transparent border-b border-dinputBorder absolute bottom-0 left-0 w-full block text-dblack ;
}

.input label {
  @apply absolute bottom-6 left-0 text-dlabelColor;
}

.input input:focus,
.input select:focus {
  outline: none;
  @apply outline-none border-dblue;
}

.errorInput {
  @apply relative bg-opacity-30 h-14 w-full font-light text-sm;
}

.errorInput input,
select {
  @apply bg-transparent border-b border-dbase absolute bottom-0 left-0 w-full block text-dblack ;
}

.errorInput label {
  @apply absolute bottom-6 left-0 text-dbase;
}

.errorInput input:focus,
.errorInput select:focus {
  outline: none;
  @apply outline-none border-dblue;
}

@media (max-width: 840px){

  .thumbss-slider .slick-prev{
    left: -22px !important;
    z-index: 10;
  }
  .thumbss-slider .slick-next{
    right: -4px !important;
    z-index: 10;
  }
  .thumbss-slider .slick-disabled {
    display: none !important;
  }
  .thumbss-slider .slick-next:before {
    content: "";
  }
  .thumbss-slider .slick-prev::before {
    content: "";
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 18px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.product-pagination {
  @apply flex justify-center w-full my-4 p-4;
}

.product-pagination li {
  margin: 0px 5px;
  

}

.product-pagination li a {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(226, 229, 241);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 200;
  color: rgb(126, 133, 155);
  text-align: center;
  font-size: 1.3333rem;
  text-decoration: none;
  font-weight: 600;

}

.product-pagination li a:hover,
.active-pagination-product a {
  border-radius: 3px;
  /* color: rgb(56 102 223) !important; */
  background-color: white;
  /* box-shadow: rgb(56 102 223) 0px 0px 1px 1px; */
}

.ldds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldds-ellipsis div {
  position: absolute;
  top: 33px;
  text-align: center;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  /* @apply bg-dbase; */
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: ldds-ellipsis1 0.6s infinite;
}
.ldds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: ldds-ellipsis2 0.6s infinite;
}
.ldds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: ldds-ellipsis2 0.6s infinite;
}
.ldds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: ldds-ellipsis3 0.6s infinite;
}
@keyframes ldds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ldds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ldds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (min-width: 768px){
  .save-btn-addr{
    grid-column: span 2 / auto;
    position: static;
    z-index: 0;
    border-top: 0px;
    padding: 0 24px 32px;
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}

.input {
  @apply relative bg-opacity-30 h-14 w-full font-light text-sm border-b border-dgrey;
}

.input input,
select {
  @apply bg-transparent border-b border-dinputBorder absolute bottom-0 left-0 w-full block text-dblack;
}

.input label {
  @apply absolute bottom-6 left-0 text-dlabelColor;
}

.input input:focus,
.input select:focus {
  outline: none;
  @apply outline-none border-dblue;
}

.errorInput {
  @apply relative bg-opacity-30 h-14 w-full font-light text-sm;
}

.errorInput input,
select {
  @apply bg-transparent border-b border-dbase absolute bottom-0 left-0 w-full block text-dblack;
}

.errorInput label {
  @apply absolute bottom-6 left-0 text-dbase;
}

.errorInput input:focus,
.errorInput select:focus {
  outline: none;
  @apply outline-none border-dblue;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.cart-header {
  @apply border-b bg-dgrey1 md:bg-white border-dgreyZoom shadow-sm py-3 px-4 bg-opacity-10 flex items-center;
}

.cart-body {
  @apply p-4 bg-white;
}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    /* text-align: center */
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin:20px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    /* line-height: 81px; */
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #3866de
}

.steps .step.completed .step-icon {
  border-color: #3866de;
  background-color: #3866de;
  color: #fff
}

@media (max-width: 300px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
      display: none
  }
}


.facebook-border {
  border: 1px solid rgb(226, 229, 241);
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider_swicth {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_swicth:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_swicth {
  background-color: #2196F3;
}

input:focus + .slider_swicth {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_swicth:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider_swicth.round {
  border-radius: 34px;
}

.slider_swicth.round:before {
  border-radius: 50%;
}

.my-custom-pagination-div .swiper-pagination-bullet {
  margin: 5px 2.5px;
  width: 8px;
  height: 8px;
  border: 1px solid rgb(86, 89, 97);
  border-radius: 50%;
  background-color: transparent;
}

.my-custom-pagination-div .swiper-pagination-bullet-active {
  background-color: rgb(56, 102, 223);
  border: 1px solid rgb(56, 102, 223);
}

.my-custom-pagination-div {
  display: flex;
  justify-content: center;
}

.table-header {
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dashboard-table {
  width: 100% !important;
  border-collapse: initial !important;
  border-spacing: 0 !important;
  margin: 1rem 0 !important;
  border: 1px solid #ebedf2;
  color: #212529;
  background-color: transparent;
}

.dashboard-table thead th,
.dashboard-table thead td {
  font-weight: 500;
  border-bottom-width: 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #ebedf2;
}

.dashboard-table td,
.dashboard-table th {
  color: #595d6e;
  padding: 0.65rem;
  vertical-align: top;
  border: 1px solid #ebedf2;
}

.aside-small-menu {
  box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 75%);
}

.aside-small-menu ul li a svg {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.aside-overlay {
  background: rgba(0, 0, 0, 0.1);
}

.seller-pagination ul {
  padding-left: 10px;
}

.seller-pagination ul li {
  height: 30px;
  width: auto;
  min-width: 30px;
  margin-left: 10px;

}

.seller-pagination ul li a {
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: auto;
  vertical-align: middle;
  padding: 4px;
  text-align: center;
  position: relative;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  color: #595d6e;
  border: 0;
  outline: none !important;
  background: #ebe9f2;
}

.seller-pagination .active-pagination a {
  background-color: #5d78ff !important;
  color: #ffffff !important;
}

.seller-pagination ul li a:hover {
  background-color: #5d78ff !important;
  color: #ffffff !important;
}

.seller-report-pagination {
  display: flex;
}

.seller-dot::after {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  content: " ";
  background: rgba(149, 156, 182, 0.5);
}

.seller-accounting {
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 20%;
}

.my-custom-pagination-div .swiper-pagination-bullet {
  margin: 5px 2.5px;
  width: 8px;
  height: 8px;
  border: 1px solid rgb(86, 89, 97);
  border-radius: 50%;
  background-color: transparent;
}

.my-custom-pagination-div .swiper-pagination-bullet-active {
  background-color: rgb(56, 102, 223);
  border: 1px solid rgb(56, 102, 223);
}

.menu-hover {
  transition: all 0.1s ease;
}

.menu-hover:hover {
  background-color: white;
  box-shadow: 0 0 40px 1px rgba(121, 121, 121, 0.264);
  clip-path: inset(0px -2px 0px -2px);
  /* box-shadow: 3px 0px 30px 3px rgba(120, 120, 120, 0.19); */
}

/* .overlay-header {
  border-top: 1px solid rgb(226, 229, 241);
} */

.product-height {
  height: 680px;
}

.aside-animation {
  transition: all 0.4s ease;
}

.aside-brand {
  height: 75px;
  padding-left: 25px;
  padding-right: 25px;
}

.aside-menu {
  height: 251px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.aside-menu-list {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  list-style: none;
  display: block;
}

.aside-menu-list li {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-grow: 1;
  float: none;
  flex-direction: column;
  width: 100%;
}

.aside-menu-list li a {
  font-size: 22px;
  color: #7c87a6;
  padding: 9px 25px;
  cursor: pointer;
  min-height: 44px;
  display: flex;
  margin: 0px;
  text-decoration: none;
  position: relative;
  align-items: stretch;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
}

.aside-menu-list li a svg {
  display: flex;
  margin-right: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
}

.aside-menu-list li a span {
  font-size: 1rem;
  font-weight: 400;
  text-transform: initial;
  display: flex;
  padding: 0;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.menuSellerButton,
.menu-active {
  display: block;
  position: absolute;
  top: 12px;
  height: 2px;
  min-height: 2px;
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menuSellerButton::before {
  transition: all 0.4s ease;
  left: 0px;
  right: auto;
  width: 50%;
  background-color: white;
  top: -8px;
  position: absolute;
  display: block;
  height: 2px;
  min-height: 2px;
  content: "";
  border-radius: 2px;
  box-sizing: border-box;
}

.hover-animation:hover span::before,
.hover-animation:hover span::after {
  width: 100%;
}

.menuSellerButton::after {
  transition: all 0.4s ease;
  left: 0px;
  right: auto;
  width: 75%;
  background-color: white;
  bottom: -8px;
  position: absolute;
  display: block;
  height: 2px;
  min-height: 2px;
  content: "";
  border-radius: 2px;
  box-sizing: border-box;
}

.menu-active::before {
  transition: all 0.4s ease;
  left: auto;
  right: 0px;
  width: 50%;
  background-color: white;
  top: -8px;
  position: absolute;
  display: block;
  height: 2px;
  min-height: 2px;
  content: "";
  border-radius: 2px;
  box-sizing: border-box;
}

.menu-active::after {
  transition: all 0.4s ease;
  left: auto;
  right: 0px;
  width: 75%;
  background-color: white;
  bottom: -8px;
  position: absolute;
  display: block;
  height: 2px;
  min-height: 2px;
  content: "";
  border-radius: 2px;
  box-sizing: border-box;
}

.active-link {
  background-color: #1f2433;
}

.active-link span {
  color: white;
}

.active-link svg {
  color: #5d78ff;
}

.sellerInfo {
  display: flex;
  height: 160px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
  box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 4px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1em + 1rem + 2px);
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search_button {
  cursor: pointer;
  align-items: center;
  color: #fff;
  background-color: #5d78ff !important;
  border-color: #5d78ff;
  outline: none !important;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.reset_button {
  cursor: pointer;
  align-items: center;
  background-color: transparent !important;
  border: 1px solid #e2e5ec !important;
  color: #595d6e;
  outline: none !important;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.order-status {
  height: 687px;
  flex-basis: 33.3333%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 33.33%;
}

.order-table {
  height: 687px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 65.66667%;
  max-width: 66.67%;
}

.table-header {
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dashboard-table {
  width: 100% !important;
  border-collapse: initial !important;
  border-spacing: 0 !important;
  margin: 1rem 0 !important;
  border: 1px solid #ebedf2;
  color: #212529;
  background-color: transparent;
}

.dashboard-table thead th,
.dashboard-table thead td {
  font-weight: 500;
  border-bottom-width: 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #ebedf2;
}

.dashboard-table td,
.dashboard-table th {
  color: #595d6e;
  padding: 0.65rem;
  vertical-align: top;
  border: 1px solid #ebedf2;
}

.aside-small-menu {
  box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 75%);
}

.aside-small-menu ul li a svg {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.aside-overlay {
  background: rgba(0, 0, 0, 0.1);
}

.seller-pagination ul {
  padding-left: 10px;
}

.seller-pagination ul li {
  height: 30px;
  width: auto;
  min-width: 30px;
  margin-left: 10px;

}

.seller-pagination ul li a {
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: auto;
  vertical-align: middle;
  padding: 4px;
  text-align: center;
  position: relative;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  color: #595d6e;
  border: 0;
  outline: none !important;
  background: #ebe9f2;
}

.seller-pagination .active-pagination a {
  background-color: #5d78ff !important;
  color: #ffffff !important;
}

.seller-pagination ul li a:hover {
  background-color: #5d78ff !important;
  color: #ffffff !important;
}

.seller-report-pagination {
  display: flex;
}

.seller-dot::after {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  content: " ";
  background: rgba(149, 156, 182, 0.5);
}

.seller-accounting {
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 20%;
}

.my-custom-pagination-div .swiper-pagination-bullet {
  margin: 5px 2.5px;
  width: 8px;
  height: 8px;
  border: 1px solid rgb(86, 89, 97);
  border-radius: 50%;
  background-color: transparent;
}

.my-custom-pagination-div .swiper-pagination-bullet-active {
  background-color: rgb(56, 102, 223);
  border: 1px solid rgb(56, 102, 223);
}

.menu-hover {
  transition: all 0.1s ease;
}

.menu-hover:hover {
  background-color: white;
  box-shadow: 0 0 40px 1px rgba(121, 121, 121, 0.264);
  clip-path: inset(0px -2px 0px -2px);
  /* box-shadow: 3px 0px 30px 3px rgba(120, 120, 120, 0.19); */
}

@media print 
{
    @page {
      size: A4; /* DIN A4 standard, Europe */
      margin:0;
    }
    html, body {
        width: 210mm;
        /* height: 297mm; */
        height: 282mm;
        font-size: 11px;
        background: #FFF;
        overflow:visible;
    }
    body {
        padding:0.5cm;
        
    }
}

@media print {
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
  }

 
}

.seller-edit-form-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.seller-edit-form-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ck-editor__editable {
  overflow-y: auto;
  max-height: 240px;
  min-height: 240px;
}

.ck-editor__editable ul,
.ck-editor__editable ol {
  padding: 0px 0px 0px 40px;
  margin: 16px 0px;
}

.ck-editor__editable ul {
  list-style-type: disc;
}

.ck-editor__editable ol {
  list-style: decimal;
}

.ck-editor__editable h1 {
  font-size: 32px;
}

.ck-editor__editable h2 {
  font-size: 26px;
}

.ck-editor__editable h3 {
  font-size: 22px;
}

.ck-editor__editable {
  color: #636c9b;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.ck-toolbar {
  background-color: #fafafa;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 210px;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 4px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 45%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* Dots */
/* .slick-dotted.slick-slider {
  margin-bottom: 30px;
} */

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 0px !important;
  /* height: 20px; */
  /* margin: 0 0px; */
  padding: 0;
  bottom :5px;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  /* background-color: white !important; */

}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  background: black !important;
}

.slick-dots li button:before {
  font-family: "slick";
  /* font-size: 6px; */
  line-height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100% !important;
  content: "" !important;
  text-align: center;
   
  color: black !important;
  height: 5px !important;
  width: 5px !important;
  border-radius: 100% !important;
  border: 1px solid  !important;
  background: rgb(206, 204, 204) !important;
}
.slick-dots li.slick-active button::before {
  opacity: 0.75;
  border-radius: 100% !important;
  border: 1px solid black !important;

  background: black !important;

  
}

.single-product-img-slider .slick-slider{
  touch-action: pan-y !important;
}

@media (max-width: 768px){
  .single-product-img-slider .slick-track{
    display: flex !important;
  }
  .single-product-img-slider .slick-slide{
    height: inherit !important;
  }
  .single-product-img-slider .slick-slide>div{
    height: 100% !important;
  }
}

@media (max-width: 840px){
  .popup-open {
    overflow-y: hidden !important;
    position: fixed;
    width: 100%;
    height: 100vh;
  }
}

.modal_zoom_div{
  height: 100%; /* Fallback */
  height: -moz-available;
  height: -webkit-fill-available;
  /* height: fill-available; */
  height: stretch; /* Latest specification */
 
}

/* styles/styles.module.css */

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
}


/* @keyframes slideDownFade {
  0% {
    opacity: 1;
    transform: translateY(-13px);
  }
  50% {
    opacity: 0;
    transform: translateY(13px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}


.input-container {
  position: relative;
  display: inline-block;
}

.placeholder-wrapper {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  padding-left: 1rem;
  pointer-events: none;
}

.placeholder {
  width: 100%;
  animation: slideDownFade 2s ease infinite; 
}

.placeholder .with-transition  {
  opacity: 1;
} */

div.widget_text p{
  margin-block-start: 1em;
  margin-block-end: 1em;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-images{
  animation: spin-slow 2.3s linear infinite;
}

.additional-data-div{
  -webkit-mask-image: linear-gradient(0,#000,rgba(0,0,0,.75) 65%,rgba(0,0,0,.17));
  mask-image: linear-gradient(0,#000,rgba(0,0,0,.75) 65%,rgba(0,0,0,.17));
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 0.06rem;
}


@keyframes fadeUp {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
  
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.additional-data-div-div {
  animation: fadeUp 1s ease-in-out ;
  animation-fill-mode: both;
}

.live-comments-container {
  transition: height 0.3s ease-in-out; /* Apply transition to the height property */
}

.live-comment-fadeout{
  -webkit-animation: fadeout .3s linear forwards;
  animation: fadeout .3s linear forwards;
}

.link-span>span{
  width: 100% !important;
}
 .slick-slider { touch-action: inherit !important; }

 .single-product-img-slider .slick-slide { pointer-events: none; }
 .single-product-img-slider .slick-active { pointer-events: auto; }

 .mobile-modal-single-product-img-slider .slick-slide { pointer-events: none; }
 .mobile-modal-single-product-img-slider .slick-active { pointer-events: auto; }
 
 .modal-single-product-img-slider .slick-slide { pointer-events: none; }
 .modal-single-product-img-slider .slick-active { pointer-events: auto; }

 
  @media only screen and (max-width: 768px) {
    .product-page-wrapper{
      overflow-x: hidden;
    }
  }

  .lazy-load-image-background{
    /* object-fit: cover;  */
    width: 100% !important;
    height: 100% !important;
  }
  .black-gradient{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
     radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  }
 

.placeHolderSlideCSS{

  background-image: url('/images/placeholder_slideshow.png');
  height : "auto";
  width: "100%";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/* styles.css */


.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}


.content {
  width: 270%;
margin: 0;
display: inline-block;

  overflow: hidden;
  animation: scroll  linear infinite  ; /* Use "alternate" to reverse direction at the end */
  animation-timing-function: 10s linear; /* Use linear timing function for consistent speed */
  animation-delay: 1s; /* No delay */
  /* animation-duration: 10s, 35s, 230ms; */
  scroll-behavior: smooth;

}

/* Define the animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }

}


.placeholder_animation {
  background-image: radial-gradient(
    rgba(254, 254, 254, 0.925),
    rgba(215, 211, 223, 0.474)
  );
  /* background-image: radial-gradient(rgba(254, 254, 254, 0.925), rgba(210, 210, 210, 0.323)); */
  /* background-image: radial-gradient(
    
    rgba(255, 255, 255, 0) 0px,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.7) 60%,
    rgba(255, 255, 255, 0) 100%,

  ); */
  background-size: 200% 100%;
  animation: anmBg 0.8s linear infinite;
}
@keyframes anmBg {
  to {
    background-position: -170% 0;
  }
}
@media (max-width: 650px) {
  .placeholder_animation {
    background-image: radial-gradient(
      rgba(254, 254, 254, 0.925),
      rgba(215, 211, 223, 0.474)
    );
  }
}

.icon-color {
  color:rgb(53, 90, 184); /* Change this to your desired color */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .placeholder_animation {
    background-image: radial-gradient(
      rgba(254, 254, 254, 0.925),
      rgba(215, 211, 223, 0.474)
    );

    background-size: 200% 100%;
    animation: anmBg 0.8s linear infinite;
  }
  @keyframes anmBg {
    to {
      background-position: -170% 0;
    }
  }
  @media (max-width: 650px) {
    .placeholder_animation {
      background-image: radial-gradient(
        rgba(254, 254, 254, 0.925),
        rgba(215, 211, 223, 0.474)
      );
    }
  }
}

@media (max-width: 650px) {
  .placeholder_animation {
    background-image: radial-gradient(
      rgba(254, 254, 254, 0.925),
      rgba(215, 211, 223, 0.474)
    );
  }
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading__dot {
  animation: dot ease-in-out 1.5s infinite;
  background-color: white;
  display: inline-block;
  height: 5px;
  margin: 2px;
  width: 5px;
  border-radius: 10px;
}

.loading__dot:nth-of-type(2) {
  animation-delay: 0.3s;
}

.loading__dot:nth-of-type(3) {
  animation-delay: 0.5s;
}

@keyframes dot {
  0% { background-color: white; transform: scale(1); }
  50% { background-color: #3866de; transform: scale(1.3); }
  100% { background-color: white; transform: scale(1); }
}

.blur-loading{
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1); /* Background color with transparency */
  backdrop-filter: blur(5px); /* Apply a blur effect */

}

/* 
.cardWrap {
  width: 27em;
  margin: 3em auto;
  color: #fff;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(
    to bottom,
    red 0%,
    red 26%,
    grey 26%,
    grey 100%
  );
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top: 100px;
}
.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
}
.cardRight {
  width: 6.5em;
  border-left: 0.18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;} */





  .ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    
  
   
  }
  .stub, .check {
    box-sizing: border-box;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);
    border-top: solid 2px #bf1b26;
  }
  .stub {
    background: white;
    height: 100%;
    width: 30%;
    padding: 20px  4px 20px 4px;
    position: relative;
    border-radius: 10px;
   
  
  
   
  }
  .stub::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 10px solid #F7F7FA;
    background: white;
    width: 0;
  }
  .stub::after{
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 10px solid #F7F7FA;
    /* border-left: 20px solid #EF5658; */
    background: white;
    width: 0;

  }
  .top {
    display: flex;
    align-items: center;
    height: 40px;
    text-transform: uppercase;
  
  }
  .check {
  background: white;
    width: 70%;
    position: relative;
    border-radius: 10px;
  }
  .check::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 10px solid #F7F7FA;
  background: white;
  }
  .check::after{
    content: '';
      position: absolute;
      bottom: 0; left: 0;
      border-bottom: 10px solid #F7F7FA;
    background: white;
 
  }
  .divider-coupon{
    width: 1px;
    border:1px dashed #F4D0B1;
    height: 85%;
  }


.animation-text-banner{
 animation: my-animation 20s infinite  linear ;
 
}


@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


#bday{
  position: fixed;
  right: 25%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  animation: slideInAndOut 10s ease-in-out;
}


@keyframes slideInAndOut {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.hover-styles {
  transition: all 0.1s ease;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  margin-left: -1rem; /* Equivalent to mx-4 in Tailwind (negative margin on x-axis) */
  margin-right: -1rem; /* Equivalent to mx-4 in Tailwind (negative margin on x-axis) */
}
