@tailwind base;
@tailwind components;
@tailwind utilities;



 @font-face {
    font-family: "PR-lightå";
    src: url("../assets/pr/Proxima-Nova-300.eot");
    src: url("../assets/pr/Proxima-Nova-300.eot") format("eot"),
      url("../assets/pr/Proxima-Nova-300.woff2") format("woff2"),
      url("../assets/pr/Proxima-Nova-300.woff") format("woff"),
      url("../assets/pr/Proxima-Nova-300.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PR";
    src: url("../assets/pr/Proxima-Nova-Regular.eot");
    src: url("../assets/pr/Proxima-Nova-Regular.eot") format("eot"),
      url("../assets/pr/Proxima-Nova-Regular.woff2") format("woff2"),
      url("../assets/pr/Proxima-Nova-Regular.woff") format("woff"),
      url("../assets/pr/Proxima-Nova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: "PR-semibold";
  src: url("../assets/pr/Proxima-Nova-Semibold.eot");
  src: url("../assets/pr/Proxima-Nova-Semibold.eot") format("eot"),
    url("../assets/pr/Proxima-Nova-Semibold.woff2") format("woff2"),
    url("../assets/pr/Proxima-Nova-Semibold.woff") format("woff"),
    url("../assets/pr/Proxima-Nova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PR-bold";
  src: url("../assets/pr/Proxima-Nova-Bold.eot");
  src: url("../assets/pr/Proxima-Nova-Bold.eot") format("eot"),
    url("../assets/pr/Proxima-Nova-Bold.woff2") format("woff2"),
    url("../assets/pr/Proxima-Nova-Bold.woff") format("woff"),
    url("../assets/pr/Proxima-Nova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-size: 14px;

}


.body {
  font-family: 'PR';  font-size: 14px; line-height: 19.6px;
}

.pr-bold {
  font-family: 'PR-bold';  font-size: 14px; line-height: 19.6px;
}

.pr-semibold {
  font-family: 'PR-semibold';  font-size: 14px; line-height: 19.6px;
}

.googlePlay {
  background-image: url(https://www.ishtari.com/img/sprite.25850177.png);
  background-position-x: 0px;
  background-position-y: -86px;
  background-size: 186px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  width: 130px;
  padding: 0 20px;
  height: 37px;
}

.appleStore {
  display: inline-block;
  width: 120px;
  height: 40px;
  background-image: url(https://www.ishtari.com/img/sprite.25850177.png);
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: 170px;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

