.slider {
    position: relative;
    overflow: hidden;
  }
  
  .slider-content {
    display: flex;
    transition: transform 0.5s ease;
    width:auto
  }
  
  .slider-arrow {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    /* background-color: #ccc; */
    cursor: pointer;
  }
  
  .slider-arrow-left {
    border-radius: 100%;
    padding: 5px;
    left: 0px;
  
  }
  
  .slider-arrow-right {

    border-radius: 100%;
    right: 0px;
    padding: 5px;
  }
  